p { position:relative; }

p a + span#image1 { display:none; position:absolute; left:auto; top:auto; }

p a:hover + span#image1 { display:block; }

p { position:relative; }


p { position:relative; }

p a + span#image2 { display:none; position:absolute; left:hhhpx; top:vvvpx; }

p a:hover + span#image2 { display:block; }
p { position:relative; }



body {
	font-size: 16px;
	line-height: 24px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
div.container {
	width: 720px;
	margin: 0 auto;
}

#apDiv1 {
	position:absolute;
	left:70px;
	top:40px;
	width:324px;
	height:47px;
	z-index:1;
	font-size:20px;
}
#apDiv2 {
	width:243px;
	position:relative;
	margin:0 auto;
	top:35px;
	z-index:2;
	text-align:center;
	font-size:20px;
}
#apDiv3 {
	position:absolute;
	left:973px;
	top:40px;
	width:357px;
	height:46px;
	z-index:3;
	text-align:right;
	font-size:20px;
	font-style:italic;
}
#apDiv4 {
	width:620px;
	position:relative;
	margin:0 auto;
	top:137px;
	height:756px;
	z-index:4;
	font-size:20px;
	text-indent: 30px;
}
#apDiv5 {
	position:fixed;
	left:70px;
	top:169px;
	width:288px;
	height:749px;
	z-index:5;
	font-size:10px;
}


#apDiv7 {
	position:absolute;
	left:1065px;
	top:185px;
	width:270px;
	height:731px;
	z-index:5;
	font-size:12px;
	line-height:normal;
	

}


}
a:active {
	color: #000;
	text-decoration: none;
	font-weight:bold;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #000;
}

h1 {
	font-size: 27px;
	font-style:normal;
	font-weight:normal;
}

h2 {
	font-size: 16px;
	font-style:italic;
	font-weight:normal;
	margin-left:120px;
}

h3 {
	font-size: 16px;
	font-style:normal;
	font-weight:bold;
}

.editor {
	box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px 0;
	margin-bottom: 30px;
	padding: 10px;
	width: 700px;
	height: 440px;
}

.control { font: 12px Arial; padding: 5px; display: inline-block; margin-bottom: 5px; }
.control button { margin-right: 5px; }
#content { color: #333333; font: 14px; }
#content, #tinymce-wrapper { height: 300px; }
#text-wrapper { 
	width: 620px;
	min-height: 300px;
	max-height: 300px;
	overflow: auto; 
	padding: 40px;
	border: 1px solid #BFBFBF;
	font-size: 15px;
	line-height: 24px;
}
#textbody { 
	margin: 0 auto;
	border: solid 2px #BFBFBF;
	background: white;
	padding: 15px 30px 30px;
	outline: none;
}
a.mceButton16 img.mceIcon { width: 16px; height: 16px; padding: 2px;}

.CT-hide .del, .CT-hide .del {
	display: none;
}

.CT-hide .ins, .CT-hide .ins {
	color: #333333;
	background: none !important;
	border: none !important; 
	text-decoration: none;
}

.del {
	text-decoration: line-through;
}
.ins {
	text-decoration: underline;
}
.cts-1 {
    color: green;
}
.cts-2 {
    color: #C02000;
}

.cts-3 {
    color: #004090;
}

.cts-4 {
    color: #F06000;
}

.cts-5 {
    color: purple;
}

.cts-6 {
    color: #801080;
}

.cts-7 {
		color: #1080B0;
}

.ice-avoid {
	color: red;
}



