

@media print {





.screen-only {
        display: none;}


#pijl, #print, #omslag, #uitleg, #sticky, #omslag2, #common, #better, #author, #title, #subtitle, #evelien {
        display: none; }


        h1 {
    	page-break-inside : avoid;
    	page-break-before : always;
    font-size: 25px;
    margin-top: 1cm;
    line-height: 1.8;



    }

    	h2 {
    	page-break-inside : avoid;
    	page-break-before : auto;
    	margin-left:70px;
    	font-size:12pt;}		

        h3 {
    	margin-left:130px; 
    	page-break-inside : avoid;
    	page-break-before : auto;
    	font-size:9pt;
    	line-height:1.2;}	

    	p {
    	page-break-inside: avoid;}





	@page {
  		sheet-size:JIS B4;
  		size: 18.2cm 25.7cm;
		orphans:5; 
		widows:5;
		margin-bottom:1.7cm;
		margin-top:1cm;}

	@page :left {
  		margin-left: 1cm;
  		margin-right:4cm;}

	@page :right {
  		margin-left: 4cm;
  		margin-right:1cm;}



  @top-center {
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    content: counter(page);}






	#thesis {
	line-height:1.4;
	font-size:13pt; 
	top: 1cm;
	left:0;
	right:0;
	width:80%;}






	img {
  	width: 90%;
  	height:90%;
  	margin-left:50px;}

	table, figure {
  		page-break-inside: avoid;}


  	img[src*="Common Glory/balkje.jpg"] {
    	display: none; }



.page-break	{ display: block; 
				page-break-before: always;
			width: 100%;
}
.white	{ display: block; 
			background-color:#FFFFFF;
			width: 18cm;
			height:25cm;
}

.abstract {
		display: block;
		font-size:15pt;
		width:80%;
		line-height:1.5;
		margin-left:2cm;
		top: 1cm;
		}


.inhoud {
		display: block;
		width: 88%;
		top:2cm;
    	font-size: 15px;
    	line-height:1.7;
    	margin-left:2cm;
    	color:#000;
    }

.voorkant{
	display:block;
	visibility: visible;
	width:160%;
	height:160%;
	margin-top:-3cm ;
	margin-left:-7cm;
	border:none;
	padding-left:0;
	overflow:visible;


}


}

