
@media screen and (max-width: 700px){

.print-only {
        display: none;}


#pijl {
        display: none;}


#print {
        display: none;}




p {
    margin-top: 0;}


h1 {
    font-size: 18px;
    margin-top: 0;
    line-height: 1.8;
    margin-bottom: 25px;
    margin-left: 2%;}


h2 {
    font-size: 15px;
    line-height: 1.5;
    margin-left: 12%;}


h3 {
    margin-left: 35%;
    font-size: 8px;
    line-height: 1;}


h5 {
    margin-left: 2%;
    font-size:15px;}



h6 {
	margin-top: 0;
    margin-left: 17%;}


#common {
	width:60%;
	position:absolute;
	left:15%;
	right:10%;
	font-size:21px;
	line-height:2.2;}


#better {
	width:60%;
	position:absolute;
	left:15%;
	right:10%;
	font-size:21px;
	line-height:1.5;}


#evelien {
	width:60%;
	position:absolute;
	left:15%;
	right:10%;
	font-size:21px;
	line-height:2.2;}


#title {
	position:absolute;
	left:47%;
	right:10%;}

#subtitle {
	position:absolute;
	left:43%;
	right:10%;}

#author {
	position:absolute;
	left:44%;
	right:10%;}

#uitleg {
	position:absolute;
	left:15%;
	right:10%;
	top:480px;
	text-align:center;
	width:70%;
	font-size:8px;}


#omslag {
	top:675px;
	position:absolute;
	left:15%;
	right:0;
	width:260px;
	font-size:15px;
	line-height:1.5;}


#omslag2 {
	top:1260px;
	position:absolute;
	left:15%;
	right:0;
	width:260px;
	font-size:15px;
	line-height:1.5;}


img[src*="Common Glory/balkje.jpg"] {
    display: none;}

img {
    width: 100%;
    height: auto;}


#thesis {
	top:1850px;
	position:absolute;
	left:15%;
	right:15%;
	width:60%;
	font-size:13px;}

#sticky {
display: none;}



}



